@{ Layout = null;}
@{
    ViewBag.Title = "Help";
}

<h2>You can find some help here</h2>
<br />
<p><b>Burnt cake</b></p>
If you let the cake burn it's okay as long as it's only lightly.
 With a flat saw knife cut the burned parts and continue to follow the recipe steps.
<br />
<br />
<p><b>Egg whites</b></p>
If your egg whites do not rise try adding a few drops of lemon juice
<br />
<br />
<p><b>Net frosting</b></p>
If you are having this problem try adding a gelatin sheet to your mix



