
@{
    ViewBag.Title = "MultiRecipes";
}
<!-- daqui ao clicar em cada uma das imagens da receita ir para a tal receita-->
<div style="width:400px;">
    <div style="float: left; width: 130px">
        <form action="/Main/MainPage">
            <input type="submit" value="MainPage" />
        </form>
    </div>
    <br />
    <h2>Enjoy the Desserts</h2>
    <br />
    <table style="width:100%">
        <tr>
            <td>
                <!--
    <body>
        <?php
        $link = mysql_connect("localhost", "root", "");
        mysql_select_db("dvddb");
        $sql = "SELECT dvdimage FROM dvd WHERE id=1";
        $result = mysql_query("$sql");
        mysql_close($link);

        ?>
        <img src="" width="175" height="200" />
    </body>
        -->

            </td>
            
