
@{
    ViewBag.Title = "MultiRecipes";
}
<br />
<br />
<h2>Enjoy the Desserts</h2>
<br />

<br\></br\>
<label for="Ordenation">Order by:</label>
<select id=Ordenation style="width: 100px;">
    <option value="Preparation Time">--</option>
    <option value="Preparation Time">Preparation Time</option>
    <option value="Difficulty">Difficulty</option>
    <option value="Ranking">Ranking</option>
</select>

<!--<img src="" width="350" height="350">

<br />
<a href="http://localhost:51610/Main/Recipe"><b>Brownies</b></a>
    -->
