@{Layout = null;}
@{
    ViewBag.Title = "Step";
}
<center>
    <h2>Step</h2>

    <div style="width:600px;">
        <div style="float: left; width: 130px">
            <form action="">
                <input type="submit" name="" value="Start">
            </form>
        </div>
        <div style="float: right; width: 225px">
            <form action="">
                <input type="submit" name="" value="Next Step">
            </form>
        </div>
    </div>


</center>

