@{Layout = null;}
@{
    ViewBag.Title = "Step";
}
<center>
    <h2>Step</h2>
    <!-- esta como botão, talvez tenha de por como link-->
    <div style="width:500px;">
        <div style="float: left; width: 225px">
            <input type="submit"  value="Show picture" onclick="">
        </div>
        <div style="float: right; width: 225px">
            <input type="button"  value="Show Video">
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div style="width:800px;">
        <div style="float: left; width: 225px">
            <form action="/Main/Help">
                <input type="submit"  value="Help">
            </form>
        </div>
        <div style="float: right; width: 225px">
            <form action="">
                <input type="submit"  value="Next Step">
            </form>
        </div>
    </div>

</center>



