@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Hello!<br /> I'm Cookilicous, and I'm your personal kitchen assistant,
    my specialty are desserts and together we're going to create the
    best recipes you've ever made.<br />
    I'll help you with everything you need from the ingredients to
    the final result, guiding you step by step.<br />
    I hope we become best friends.
</p>
