@{
    /**/

    ViewBag.Title = "Categories";

    <h2>Categories</h2>
    <br />
    <form action="/Preferences/PrefUtensils">
        <input type="submit" class="btn btn btn-info pull-right" value="Next" />
    </form>
    <br />
    <p> Choose the dessert categories you like the most</p>
}


<ul role="listbox" tabindex="0" aria-label="email list">
    <li tabindex="-1" role="option" aria-checked="false">
        <input tabindex="-1" id="check1" class="o-checkbox" type="checkbox"><label for="check1"></label>
        Cake
    </li>
    <li tabindex="-1" role="option" aria-checked="false">
        <input tabindex="-1" id="check1" class="o-checkbox" type="checkbox"><label for="check1"></label>
        Pie
    </li>
    <li tabindex="-1" role="option" aria-checked="false">
        <input tabindex="-1" id="check1" class="o-checkbox" type="checkbox"><label for="check1"></label>
        Pastry
    </li>
    <li tabindex="-1" role="option" aria-checked="false">
        <input tabindex="-1" id="check1" class="o-checkbox" type="checkbox"><label for="check1"></label>
        Cheesecake
    </li>
    <li tabindex="-1" role="option" aria-checked="false">
        <input tabindex="-1" id="check1" class="o-checkbox" type="checkbox"><label for="check1"></label>
        Ice Cream
    </li>
    <li tabindex="-1" role="option" aria-checked="false">
        <input tabindex="-1" id="check1" class="o-checkbox" type="checkbox"><label for="check1"></label>
        Cookies
    </li>
</ul>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


