@model LI4.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>About you</dt>
        <br />
        <dt>Name:</dt>
        <dt>Email:</dt> <!--getdoEmail e em cima getdoName-->
        <br />
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <dt>Preferences:</dt>
        <form action="/Preferences/PrefCategories">
            <input type="submit" class="btn btn btn-info pull-right" value="Preferences" />
        </form>

        <dt>Planeador:</dt>
        <form action="">
            <input type="submit" class="btn btn btn-info pull-right" value="Planeador" />
        </form>




